#servico-vazio {
    text-align: center;
}

#servico-vazio img {
    width: 200px;
}

.hiden {
    display: none;
}
.buttons {
    margin-left: 25px;
}

/* Cards */
#avaliacoes .modal-body {
    max-height: 70vh;
    overflow: auto;
}

.card-avaliacao {
    margin-bottom: 15px;
}

/* bate papo */
.bate-papo {
    bottom: -100%;
    right: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #aaa;
    overflow: auto;
    transition: all 1s;
}

.mostrar-bate-papo {
    bottom: 0;
}

.card-header p {
    float: left;
}

.card-header button {
    float: right;
}

.chat-msg {
    text-align: center;
    border: 1px solid #aaa;
    margin-top: 15px;
}

.chat-msg p {
    border: 1px solid #ddd;
    padding: 2px;
}

/* Visualizaçõao do perfil do confeiteiro */
.capa {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #fff;
}
.capa h1 {
    text-shadow: 10px 10px 20px #000;
}
.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.img-perfil {
    margin-top: -75px;
    margin-left: calc(50% - 75px);
}
.informacoes {
    min-height: calc(75px + 25px);
}
.informacoes h3 {
    margin: 10px;
    text-align: center;
}

@media only screen and (min-width: 600px) {

    /* imagem do centro da página */
    #servico-vazio img {
        width: 500px;
    }

    /* bate papo */
    .bate-papo {
        right: 10px;
        width: 350px;
        height: 400px;
    }

    .chat-msg {
        text-align: center;
        border: 1px solid #aaa;
        margin-top: 15px;
    }

    .chat-msg p {
        border: 1px solid #ddd;
        padding: 2px;
    }

    .img-perfil {
        margin-top: -75px;
        margin-left: 15px;
        margin-right: 15px;
        float: left;
    }

    .informacoes h3 {
        margin: 10px;
        text-align: left;
    }

}
